<!DOCTYPE html>
<html lang='ko'>
  <head>
    <meta charset='utf-8'>
    <title>셀수스 사이트 작업 안내</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta name='format-detection' requiresActiveX='true'>
    <style>
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
      .page-error {
        padding: 0;
        margin: 0;
        height: 100%;
        min-height: 100%;
        background-color: #f6f6f7;
      }
      #wrapper {
        text-align: center;
      }
      h1 {
        color: #f15f5f;
        font-size: 40px;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(196, 30, 30, 1);
        font-family: 'nanumgothic';
      }
      p, b {
        color: #9b9b9d;
        font-family: 'nanumgothic';
      }
      .top {
        padding-top: 190px;
        height: 190px;
        background-color: #fff;
      }
      .bottom {
        border-top: 10px solid #f15f60;
        padding-top: 50px;
      }
    </style>
    <body class='page-error'>
      <div id='wrapper'>
        <div class="top">
          <h1>셀수스 사이트 작업 안내</h1>
        </div>
        <div class="bottom">
          <b>더 나은 서비스를 위해 작업이 진행 중입니다.</b>
          <p>이용에 불편을 드려 죄송합니다.</p>
          <p>* 작업시간 : <u>2014년 11월 10일까지</u></p>
        </div>
      </div>
    </body>
  </head>
</html>