/* header */

.navbar {
  margin-bottom: 0px;
}
.navbar-top {
  .navbar-brand {
    float: none;
    height: 68px;
  }
  .navbar-top-button {
    height: 68px;
    margin-left: 20px;
    img {
      width: 84px;
      height: auto;
      margin-left: 7px;
      padding-top: 17px;
    }
  }
}

.header-logo img{
  width: 122px;
}
.search-box {
  padding-top: 18px;
  margin-left: 20px;
  input.form-control {
    width: 150px;
    margin-right: 5px;
  }
  input.btn {
    width: 50px;
    color: #fff;
    background-color: #abaaab;
  }
}

.navbar-main {
  background-color: #f9f9f9;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  ul {
    margin: 0 auto;
    width: 100%;
    position: relative;
    .header-line {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    li {
      width: 25%;
      text-align: center;
      margin-bottom: -1px;
      a {
        color: #000;
        font-size: 18px;
        font-weight: bold;
        border-right: 1px solid #d6d6d6;
      }
      a:hover {
        background-color: #fff;
        color: #950d54;
      }
    }
    li:first-child {
      a {
        border-left: 1px solid #d6d6d6;
      }
    }
    li.active {
      .header-line {
        width: 100%;
        display: block;
      }
      a {
        background-color: #fff;
        color: #950d54;
      }
    }
  }
}


/* footer */

#footer {
  margin-top: 100px;
  .footer-menu {
    background-color: #5c5c5b;
    ul {
      width: 100%;
      li {
        width: 25%;
        display: inline-block;
        display: -moz-inline-stack;
        *display: inline;
        zoom: 1;
        float: left;
        text-align: center;
        a {
          height: 46px;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          display: block;
          border-right: 1px solid #6e6d6b;
          padding: 12px 0;
        }
        a:hover {
          color: #fff;
          text-decoration: underline;
        }
        li:first-child {
          border-left: 1px solid #6e6d6b;
        }
      }
    }
  }
  .footer-info {
    background-color: #f5f4ee;
    font-size: 14px;
    color: #4b4b4b;
    padding: 30px 0 40px 0;
    .logo {
      width: 208px;
      padding-right: 25px;
      vertical-align: top;
      .footer-logo {
        width: 93px;
        height: 33px;
      }
    }
    .info {
      width: 350px;
      .menu-list {
        margin-top: 15px;
        margin-bottom: 30px;
        li {
          background-color: #727273;
          border: 1px solid #7d7d7d;
          a {
            color: #fff;
            display: block;
            padding: 12px;
          }
        }
      }
      h3 {
        color: #30302f;
        margin: 15px 0 10px 0;
      }
      small {
        width: 100%;
        display: block;
        font-size: 11px;
      }
    }
    .menu-list {
      width: 410px;
      vertical-align: top;
      .menu-list__linkbox {
        width: 132px;
        float: left;
        a {
          color: #4b4b4b;
          line-height: 2em;
        }
      }
      .menu-list__linkbox--first{
        width: 110px;
      }
    }
  }
}

.main {
  padding-top: 40px;
}
.home .main {
  padding-top: 0;
}
.main_notice {
  font-size: 13px;
}