.main_search_area {
  height: 482px;
  width: 100%;
  background-image: asset_url("img-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -21px;
  padding-top: 65px;
  .main_search_area__text {
    color: #FFF;
    font-size: 48px;
    font-weight: bold;
    width: 680px;
    margin: 0 auto 30px;
    font-family: 'Noto Sans', "Nanum Gothic", AppleSDGothic, '맑은 고딕', Dotum, sans-serif !important;
    text-align: center;
  }
  .main_search_area__content-count {
    color: #FFF;
    margin-top: 5px;
    b{
      font-size: 16px;
    }
    font-size: 14px;

  }
}
.search-bar {
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  width: 680px;
  height: 54px;
  background-color: rgba(0,0,0,0.4);
  border: 3px solid #FFF;
  margin: 0 auto;
  .search-bar__form {
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    height: 48px;
    width: 90%;
    margin: 0 10px;
    background-color: transparent;
  }
  .search-bar__submit_btn {
    background-image: asset_url("icon-search.png");
    width: 27px;
    height: 27px;
    border: none;
    text-indent: -10000px;
    overflow: hidden;
    background-color: transparent;
  }
}
.content-box {
  margin-top: 63px;
  .content-box__topic {
    border-bottom: 3px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
    .topic {
      color: #413f42;
      font-size: 24px;
      font-weight: bold;
    }
    .sub_topic {
      font-size: 16px;
      color: #413f42;
    }
  }
}

.tab-box {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  width: 100%;
  border-top: 1px solid #d7d7d7;
  li {
    width: 25%;
    text-align: center;
    a {
      font-size: 18px;
      font-weight: bold;
      color: #4c4c4c;
      margin-right: 0;
      border-right: 1px solid #d7d7d7;
      border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      position: relative;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: none;
    }
    a:hover {
      color: #bc1a6f;
      background-color: #fff;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #d7d7d7;
    }
  }
  li:first-child a {
    border-left: 1px solid #d7d7d7;
  }
  li.active a {
    border-radius: 0px;
    color: #bc1a6f;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #d7d7d7;
  }
  li.active img {
    display: block;
  }
  li:first-child.active a {
    border-top: 1px solid #fff;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #d7d7d7;
  }
  li.active a:hover {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #d7d7d7;
    color: #bc1a6f;
  }
}
.content-tab {
  .content-tab__contents {
    li {
      float: left;
      width: 153px;
      height: 110px;
      margin: 0 0 16px 16px;
      img {
        width: 153px;
        height: 110px;
      }
    }
    li:first-child {
      margin: 0 0 16px 0;
    }
  }
}
.keyword-list {
  float: left;
  width: 167px;
  .keyword-list__item {
    font-size: 14px;
    margin: 2px;
    a {
      color: #000;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  li:first-child {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
  }
}
.login {
  h2 {
     margin-bottom: 50px;
  }
}

.social-buttons{
  a{
    color: #4b4b4b;
  }
}
