.container
  .main_content_slide
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        - @main_images.each_with_index do |main_image, index|
          %li{class: index == 0 ? 'active' : '', "data-slide-to" => index, "data-target" => "#carousel-example-generic"}
      .carousel-inner
        - @main_images.each_with_index do |main_image, index|
          .item.thumb{ class: index == 0 ? 'active' : '',  style: "background-image: url(#{main_image.large_size_url})" }
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
        %span &lt;
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
        %span &gt;

  .content-list-box
    .content-list-box__title
      최신 이미지
      .pull-right
        = link_to '리믹스 업로드', [:new, :image], class: 'btn btn-default'

    .content-list-box__list.clearfix
      - @images.each_slice(4) do |images|
        %ul.unstyled
          - images.each do |image|
            %li
              =link_to image do
                .thumb{ style: "background-image: url(#{image.thumbnail_url})" }

    .content-list-box__paginate.text-center
      = paginate @images
